<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="categor_id" value="1" /> <!--Kategori ayarı-->  
    <add key="containsRetweet" value="false" /> <!--Tweet'ler retweet'leri de içersin mi?-->  
    <add key="containsLocationNotification" value="false" /> <!--Tweet'ler lokasyon tweet'lerini de içersin mi?-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings><add name="TwitterStreamDTO" connectionString="data source=DESKTOP-3M9UMUP\QIDAN;initial catalog=TWITTERSTREAM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>